
<div class='grid'>
<img src="https://preview.ibb.co/iz9XcQ/gde1.gif" id="gde1" data-color='green' data-shape='diamond' data-pattern='empty' data-number=1 class='cards'>
<img src="https://preview.ibb.co/nD10Wk/gde2.gif" id="gde2" data-color='green' data-shape='diamond' data-pattern='empty' data-number=2 class='cards'>
<img src="https://preview.ibb.co/ie6pP5/gde3.gif" id="gde3" data-color='green' data-shape='diamond' data-pattern='empty' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/kiKXcQ/gdf1.gif" id="gdf1" data-color='green' data-shape='diamond' data-pattern='filled' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/dZjb45/gdf2.gif" id="gdf2" data-color='green' data-shape='diamond' data-pattern='filled' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/mXCPrk/gdf3.gif" id="gdf3" data-color='green' data-shape='diamond' data-pattern='filled' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/k19R45/gds1.gif" id="gds1" data-color='green' data-shape='diamond' data-pattern='striped' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/nyRTHQ/gds2.gif" id="gds2" data-color='green' data-shape='diamond' data-pattern='striped' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/bZDm45/gds3.gif" id="gds3" data-color='green' data-shape='diamond' data-pattern='striped' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/myFNcQ/goe1.gif" id="goe1" data-color='green' data-shape='oval' data-pattern='empty' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/gDX2cQ/goe2.gif" id="goe2" data-color='green' data-shape='oval' data-pattern='empty' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/mPi8HQ/goe3.gif" id="goe3" data-color='green' data-shape='oval' data-pattern='empty' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/doaYj5/gof1.gif" id="gof1" data-color='green' data-shape='oval' data-pattern='filled' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/nKM645/gof2.gif" id="gof2" data-color='green' data-shape='oval' data-pattern='filled' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/jbMTHQ/gof3.gif" id="gof3" data-color='green' data-shape='oval' data-pattern='filled' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/fdwvxQ/gos1.gif" id="gos1" data-color='green' data-shape='oval' data-pattern='striped' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/hhAcBk/gos2.gif" id="gos2" data-color='green' data-shape='oval' data-pattern='striped' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/kShqWk/gos3.gif" id="gos3" data-color='green' data-shape='oval' data-pattern='striped' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/eux2cQ/gse1.gif" id="gse1" data-color='green' data-shape='squiggle' data-pattern='empty' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/cVrjrk/gse2.gif" id="gse2" data-color='green' data-shape='squiggle' data-pattern='empty' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/jphDj5/gse3.gif" id="gse3" data-color='green' data-shape='squiggle' data-pattern='empty' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/cGxPrk/gsf1.gif" id="gsf1" data-color='green' data-shape='squiggle' data-pattern='filled' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/f6YVWk/gsf2.gif" id="gsf2" data-color='green' data-shape='squiggle' data-pattern='filled' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/gmvcBk/gsf3.gif" id="gsf3" data-color='green' data-shape='squiggle' data-pattern='filled' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/btTKP5/gss1.gif" id="gss1" data-color='green' data-shape='squiggle' data-pattern='striped' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/fX1HBk/gss2.gif" id="gss2" data-color='green' data-shape='squiggle' data-pattern='striped' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/cTOm45/gss3.gif" id="gss3" data-color='green' data-shape='squiggle' data-pattern='striped' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/kKyv6k/pde1.gif" id="pde1" data-color='purple' data-shape='diamond' data-pattern='empty' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/gs5zP5/pde2.gif" id="pde2" data-color='purple' data-shape='diamond' data-pattern='empty' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/eDcPrk/pde3.gif" id="pde3" data-color='purple' data-shape='diamond' data-pattern='empty' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/eyym45/pdf1.gif" id="pdf1" data-color='purple' data-shape='diamond' data-pattern='filled' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/irzFxQ/pdf2.gif" id="pdf2" data-color='purple' data-shape='diamond' data-pattern='filled' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/g4j4rk/pdf3.gif" id="pdf3" data-color='purple' data-shape='diamond' data-pattern='filled' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/bBJm45/pds1.gif" id="pds1" data-color='purple' data-shape='diamond' data-pattern='striped' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/dFWTHQ/pds2.gif" id="pds2" data-color='purple' data-shape='diamond' data-pattern='striped' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/d9aoHQ/pds3.gif" id="pds3" data-color='purple' data-shape='diamond' data-pattern='striped' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/csBTHQ/poe1.gif" id="poe1" data-color='purple' data-shape='oval' data-pattern='empty' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/nvptj5/poe2.gif" id="poe2" data-color='purple' data-shape='oval' data-pattern='empty' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/gXaNcQ/poe3.gif" id="poe3" data-color='purple' data-shape='oval' data-pattern='empty' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/jbp4rk/pof1.gif" id="pof1" data-color='purple' data-shape='oval' data-pattern='filled' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/f0XPrk/pof2.gif" id="pof2" data-color='purple' data-shape='oval' data-pattern='filled' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/cBYVWk/pof3.gif" id="pof3" data-color='purple' data-shape='oval' data-pattern='filled' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/hafYj5/pos1.gif" id="pos1" data-color='purple' data-shape='oval' data-pattern='striped' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/b4eR45/pos2.gif" id="pos2" data-color='purple' data-shape='oval' data-pattern='striped' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/mURjrk/pos3.gif" id="pos3" data-color='purple' data-shape='oval' data-pattern='striped' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/nu7Dj5/pse1.gif" id="pse1" data-color='purple' data-shape='squiggle' data-pattern='empty' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/b7kcBk/pse2.gif" id="pse2" data-color='purple' data-shape='squiggle' data-pattern='empty' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/cmANcQ/pse3.gif" id="pse3" data-color='purple' data-shape='squiggle' data-pattern='empty' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/ey72cQ/psf1.gif" id="psf1" data-color='purple' data-shape='squiggle' data-pattern='filled' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/kYBjrk/psf2.gif" id="psf2" data-color='purple' data-shape='squiggle' data-pattern='filled' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/j94R45/psf3.gif" id="psf3" data-color='purple' data-shape='squiggle' data-pattern='filled' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/mUj4rk/pss1.gif" id="pss1" data-color='purple' data-shape='squiggle' data-pattern='striped' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/kpCqWk/pss2.gif" id="pss2" data-color='purple' data-shape='squiggle' data-pattern='striped' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/iARvxQ/pss3.gif" id="pss3" data-color='purple' data-shape='squiggle' data-pattern='striped' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/h9TVWk/rde1.gif" id="rde1" data-color='red' data-shape='diamond' data-pattern='empty' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/mu5NcQ/rde2.gif" id="rde2" data-color='red' data-shape='diamond' data-pattern='empty' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/gvhPrk/rde3.gif" id="rde3" data-color='red' data-shape='diamond' data-pattern='empty' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/mgyKP5/rdf1.gif" id="rdf1" data-color='red' data-shape='diamond' data-pattern='filled' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/jui8HQ/rdf2.gif" id="rdf2" data-color='red' data-shape='diamond' data-pattern='filled' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/nPbjrk/rdf3.gif" id="rdf3" data-color='red' data-shape='diamond' data-pattern='filled' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/cNWvxQ/rds1.gif" id="rds1" data-color='red' data-shape='diamond' data-pattern='striped' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/jLxDj5/rds2.gif" id="rds2" data-color='red' data-shape='diamond' data-pattern='striped' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/kW1645/rds3.gif" id="rds3" data-color='red' data-shape='diamond' data-pattern='striped' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/gmJm45/roe1.gif" id="roe1" data-color='red' data-shape='oval' data-pattern='empty' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/bQiKP5/roe2.gif" id="roe2" data-color='red' data-shape='oval' data-pattern='empty' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/e7XqWk/roe3.gif" id="roe3" data-color='red' data-shape='oval' data-pattern='empty' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/nrGvxQ/rof1.gif" id="rof1" data-color='red' data-shape='oval' data-pattern='filled' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/ePVNcQ/rof2.gif" id="rof2" data-color='red' data-shape='oval' data-pattern='filled' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/c8wvxQ/rof3.gif" id="rof3" data-color='red' data-shape='oval' data-pattern='filled' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/mGYaxQ/ros1.gif" id="ros1" data-color='red' data-shape='oval' data-pattern='striped' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/eTRTHQ/ros2.gif" id="ros2" data-color='red' data-shape='oval' data-pattern='striped' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/ie2eP5/ros3.gif" id="ros3" data-color='red' data-shape='oval' data-pattern='striped' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/kUY8HQ/rse1.gif" id="rse1" data-color='red' data-shape='squiggle' data-pattern='empty' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/gsYm45/rse2.gif" id="rse2" data-color='red' data-shape='squiggle' data-pattern='empty' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/jUSeP5/rse3.gif" id="rse3" data-color='red' data-shape='squiggle' data-pattern='empty' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/hoBjrk/rsf1.gif" id="rsf1" data-color='red' data-shape='squiggle' data-pattern='filled' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/fkVcBk/rsf2.gif" id="rsf2" data-color='red' data-shape='squiggle' data-pattern='filled' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/b2VzP5/rsf3.gif" id="rsf3" data-color='red' data-shape='squiggle' data-pattern='filled' data-number=3 class='cards'> 
<img src="https://preview.ibb.co/iFNDj5/rss1.gif" id="rss1" data-color='red' data-shape='squiggle' data-pattern='striped' data-number=1 class='cards'> 
<img src="https://preview.ibb.co/i1iaxQ/rss2.gif" id="rss2" data-color='red' data-shape='squiggle' data-pattern='striped' data-number=2 class='cards'> 
<img src="https://preview.ibb.co/bx6vxQ/rss3.gif" id="rss3" data-color='red' data-shape='squiggle' data-pattern='striped' data-number=3 class='cards'> 
</div>